/* Utility */
body {
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.hide-in-desktop {
    display: none;
}
.show {
    display: block;
}

/* Header */
header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5px 20px;
}

header .header {
    display: grid;
    gap: 20px;
    grid-template-columns: 90px auto;
    align-items: center;
    position: relative;
}
header nav {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}

.hamburger {
    cursor: pointer;
    font-size: 30px;
}

.nav-link.active {
    color: #ff0000; 
    font-weight: bold; 
}

@media (max-width: 768px) {
    .hide-in-desktop {
        display: block;
    }
    header .header {
        justify-content: space-between;
    }
    header nav {
        flex-direction: column;
        position: absolute;
        top: 20px;
        display: none;
    }
    header nav ul {
        flex-direction: column;
    }
}

/* Login Page */
form {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    padding: 7px 10;
}

form .error-msg {
    color: red;
}
form .success-msg {
    color: greenyellow;
}